# ignore all files with .env in the name
*.env

# ignore all files within /venv/
venv/
.venv/
.vscode/

# ignore all files within /__pycache__/
__pycache__/

# macos files
.DS_Store
*.DS_Store

# ignore preloaded models
*.pt

# images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
